@import "../../../styles/variables";

.buttonSliderContainer {
  display: flex;
  gap: 8px;
}

.buttonSlider {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background: white;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  color: $brand-blue;

  &:hover {
    transform: scale(1.1);
    background: $brand-blue;
    color: white;
  }
}
